<article>
    <h4>{{name}}</h4>
    <img src={{image}} alt={{name}}/>
    <div>
        <a href="/presents/{{_id}}">See details</a>
        <a id="delete-btn" href="/presents/delete/{{_id}}">Delete</a>
    </div>
</article>