<body id="detail-page">
    <div id="det-container">
        <h4>{{name}}</h4>
        <img src={{image}} alt={{name}}/>
        <h5>Price: {{price}} €</h5>
        <h5>Recipient: {{recipient}}</h5>
        <p>Details: {{description}}</p>
    </div>
</body>